page-about {
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .about-us-text-container {
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-left: 5px solid #c28857;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        h3 {
            color: #FFFFFF;
        }
        .about-us-story {
            color: #FFFFFF;
            width: 74%;
        }
    }   
    ion-slides {
        margin-bottom: 70px;
        .swiper-pagination-bullet {
            background-color: #f0d588;
        }
        .swiper-pagination {
            display: none;
        }
        .img-box {
            display: flex;
            justify-content: center;
            width: 75%;
            margin: 0 auto;
        }
        .swiper-slide {
            img {
                width: 100vw;
                height: 300px;
                object-fit: cover;
            }
        }
        
        .member-info-container {
            padding-top: 10px;
            background-color: rgba(37, 37, 37, 0.8);
            width: 75%;
            margin: 0 auto;
            color: #FFFFFF;
            display: flex;
        }
        .member-name {
        	font-size: 18px;
        	font-weight: 600;
        }
        .member-title {
            color: #c28857;
            font-style: italic;
        }
        .member-title, .member-name {
        	display: flex;
        	justify-content: flex-end;
        }
        .member-name-title-container, .member-description-container {
            width: 49%;
        }
        .member-name-title-container {
            padding-right: 10px;
        }
        .member-description-container {
            border-left: 5px solid #c28857;
            padding-left: 15px;
            padding-right: 10px;
            padding-top: 10px;
        }
        .member-description-container > p {
            color: #FFFFFF;
            font-style: italic;
        }
    }         
}
