
// TODO: Configure so you don't have to use !important
.tab-button.has-title-only > span.tab-button-text {
    font-size: 1.1rem !important;
}

#tab-t0-0 {
    max-width: 200px;
}

#tab-t0-1 {
    max-width: 260px;
}


