page-contact {
    .contact-view {
        background-color: #181d23;
        color: #FFFFFF;
        padding-top: 40px;
    }
	h2, h3, h4 {
		color: #FFFFFF;
	}	
	#google-map {
		margin-top: 40px;
	    height: 300px;
	}
	.contact-us-today-container{
		border-left: 5px solid #c28857;
		margin-left: 25px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		margin-top: 40px;
    }
    .address-details > span {
		width: 100%;
    }
    
	.add-to-contacts-container, .get-directions-container {
		margin-top: 30px;
		display: flex;
		justify-content: center;
	}
	
    .contact-button {
        width: 155px;
    }
}
