<!-- Generated template for the CategoryComponent component -->
<a ion-item >
    <div class="image-wrap">
        <img
          [src]="category.cimage" 
          class="category-overlay-img">
        <div class="overlay-text-box">
            <div class="category-title-container">
                <div class="category-title category-title-name"> {{ category.name}}</div>
                <div class="category-title category-count "> 
                  {{ subtitle }}  
                    <span
                    class="category-meal-id" 
                    *ngIf="category.meals"> Options</span>
                </div>
            </div>
        </div>
    </div>
  </a>

