<!--
  Generated template for the ReservationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Entree Vision</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="reservations-view" >
    <div class="reservation-title-container">
        <div class="reservation-page-title-container">
            <h3 class="reservation-page-title">Book your reservation</h3>
            <div class="address-container">
                <span>3463 Procyon Street</span>
                <span>Las Vegas, NV 89102</span>
            </div>
        </div>
    </div>
    <div class="schedule">
        <h4 text-center>Open Hours</h4>
        <ion-grid class="days-container">
            <ion-row 
              class="days-hours-row"
              *ngFor="let days of daysOfWeek">
                <ion-col 
                    text-right
                    class="day-of-the-week-container">
                    <span>{{ days.day }}</span>
                </ion-col>
                <ion-col 
                    text-left
                    class="hours-open-container">
                    <span>{{ days.hours }}</span>
                </ion-col>
            </ion-row>
            <div class="orange-middle-block"></div>
        </ion-grid>
    </div>
    <form #f="ngForm"
        *ngIf="!bookedReservation"
        [class.translate-in-right]="!bookedReservation"
        (ngSubmit)="submitReservation(f)" 
        class="reservation-form">
        <ion-item>
            <ion-label fixed>Date</ion-label>
            <ion-datetime
                required
                ngModel
                name="date"
                placeholder="Select Date"
                [min]="minDate"
                [max]="maxDate">
            </ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label fixed>Timeslot</ion-label>
            <ion-datetime
                required
                ngModel
                name="time"
                placeholder="Select Timeslot"
                displayFormat="H:mm"
                hourValues="5,6,7,8,9,10"
                minuteValues="0,15,30,45"
                type="datetime">
            </ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label fixed># of Guests</ion-label>
            <ion-input
                required
                ngModel
                name="guestsNum"
                min="1"
                maxlength="1"
                type="tel">
            </ion-input>
        </ion-item>
        <button
            color="gold" 
            type="submit"
            class="submit-btn"
            [disabled]="!f.valid"
            ion-button>
            Request Reservation
        </button>
    </form>
    <div 
        class="booked-container" 
        [class.translate-in-up]="bookedReservation"
        *ngIf="bookedReservation"
        >
        <ion-grid>
            <ion-row justify-content-center>
                <h4>Your Reservation</h4>
            </ion-row>
            <ion-row 
                class="reservation-row"
                text-center>
                <ion-col>
                    <span>Time</span>
                </ion-col>
                <ion-col>
                    <span>Date</span>
                </ion-col>
                <ion-col>
                    <span>Guests</span>
                </ion-col>
            </ion-row>
            <ion-row text-center>
                <ion-col>
                    {{ reservationInfo?.bookingTime }}
                </ion-col>
                <ion-col>
                    {{ reservationInfo?.bookingDate | date: 'mediumDate' }}
                </ion-col>
                <ion-col>
                    {{ reservationInfo?.guestsNum }}
                </ion-col>
            </ion-row>
        </ion-grid>
        <div
            [class.translate-in-up]="bookedReservation" 
            class="img-reservation-container">
            <img src="assets/imgs/reservation/holding_dinner_plate.jpg">
        </div>
        <div class="cancel-reservation" justify-content-center>
                <button
                (click)="switchBooking()"
                color="danger" 
                ion-button>
                Cancel Reservation
            </button>
        </div>
    </div>
</ion-content>
