$breakfast: #745bc8;
$lunch: #c25a57;
$dinner: #c28857;
$dessert: #be57c2;
$wine: #da3c3c;

page-menus {

    .image-wrap {
		display: flex;
		padding-bottom: 20px;
		.overlay-text-box {
			order: -1;
		}
		img.category-overlay-img {
		    height: 120px;
		    width: 120px;
		}		
    }
    .category-nav-title {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        span.restaurant-title {
            margin-top: 2px;
        }
    }
}

.breakfast {
    .category-count, .meal-description {
        color: $breakfast;
    }
    .category-title-container {
        border-left: 5px solid $breakfast;
    }
}

.lunch {
    .category-count, .meal-description {
        color: $lunch;
    }
    .category-title-container {
        border-left: 5px solid $lunch;
    }
}

.dinner {
    .category-count, .meal-description {
        color: $dinner;
    }
    .category-title-container {
        border-left: 5px solid $dinner;
    }
}

.dessert {
    .category-count, .meal-description {
        color: $dessert;
    }
    .category-title-container {
        border-left: 5px solid $dessert;
    }
}

.wine {
    .category-count, .meal-description {
        color: $wine;
    }
    .category-title-container {
        border-left: 5px solid $wine;
    }
}
